.hero {
  padding: 7rem 1rem;
  text-align: center;
  background: linear-gradient(135deg, #faf4ef, #f2d5cf);
}

.hero h1 {
  font-size: 2.5rem;
}

.hero img {
  position: absolute;
  left: 0;
  bottom: -65px;
  transform: scale(0.45);
  filter: drop-shadow(1px 26px 14px rgba(34, 60, 80, 0.23));
}

.top-info {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.top-info a,
h1 {
  text-decoration: none;
  font-size: 1.5rem !important;
}

/*О нас*/
.about-us-left {
  margin-left: -10rem;
}

.about-us-right {
  margin-right: -10rem;
}

.collage {
  width: 30rem;
  height: 40rem;
}

.collage-img-left {
  left: 85%;
  top: -7%;
}

.collage-img-right {
  right: 85%;
  top: -7%;
}

.social-icons {
  gap: 25px;
}

.social-icons img {
  width: 3.5rem;
  height: auto;
}

/* Предпросмотр обложки (Админка) */
.cover-preview-wrapper {
  display: none;
}

.cover-preview-wrapper-edit {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.cover-preview-wrapper-edit .img-preview,
#coverPreview {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

#coverPreview {
  width: 200px;
  object-fit: cover;
  border-radius: 6px;
}

/*Отзывы*/
.rating-a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}

.rating-a:hover {
  color: rgb(255, 199, 95);
}

.swiper {
  width: 100%;
  height: auto;
}
